
<p class="mt-3 text-center">
    <button class="btn btn-dark" (click)="startApplication()">Run!</button>
</p>
<div class="container mt-5 col-xl-10">

    <table *ngFor='let classValue of classes' class="table">
        <thead>
            <th [class.text-light] = "classValue === 'INTERACTIVE' || classValue === 'ATTENTIVE' || classValue === 'DROWSY'" 
                [class.bg-success]="classValue === 'INTERACTIVE'" 
                [class.bg-primary]="classValue === 'ATTENTIVE'"
                [class.bg-danger]="classValue === 'DROWSY'" 
                [class.bg-warning]="classValue === 'INATTENTIVE'">
                {{classValue }}
            </th>
        </thead>
        <tbody *ngFor='let partcipant of participants'>
            <tr>
                <td *ngIf="partcipant.attention == classValue">{{ partcipant.name }}</td>
            </tr>
        </tbody>
    </table>
</div>